extends layout

block content
  h1= title
  
  ul 
    each category in categories     
      li
        h3
          a(href=category.url) #{category.name}
        p= category.description
    else 
      li No categories found :(
    li 
      hr
      a(href='/') Items
    li 
      hr
      a(href='/category/create') Create Category
      hr