extends layout

block content
  h1= title
  p Welcome to my Project! Please use the sidebar to navigate the page!
  img(src='https://st.depositphotos.com/2869437/3739/i/600/depositphotos_37392643-stock-photo-close-up-of-pug.jpg' alt='pug')
